.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191a19;
  color: #d8e9a8;
  text-align: center;
  h1 {
    margin: 40px 20px;
    font-size: clamp(2em, 1.5vw, 5em);
  }

  .projects__list {
    width: 80%;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    .projects__list {
      width: 100%;
    }
  }
}
